body{
    padding: 0px;
    margin: 0px;
}
.container{
    max-width: 1000px;
    margin:0 auto;
}
.container>header{
    background-image: url('images/logo.jpg');
    background-size:100% 100%;
    height:0px;
    padding-bottom:25%;

}
.container>nav{
    line-height:40px;
    background-color:pink;
    color:black;
    text-align:center;
    font-variant:small-caps;
}
h2{
    color:red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
}
h3{
    color: black;
    font-family:'Times New Roman', Times, serif;
    font-size: large;
    text-align:center;
}
.container > footer{
 border-top:5px double black;
 line-height:10px;
 background-color:salmon;
 text-align:left;
 font-variant:small-caps;
 clear:both;
}
.container > nav > a{
 color:Black;
 text-decoration:none;
 margin:0 10px;
}
.container > nav > a:hover{
    color:yellow;
    text-decoration:underline;

}
iframe[name=page]{
    width:100%;
    min-height: 400px;
}
.vmenu{
    padding:0px;
    margin: 0px;
    top:0px;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 0 2px gray;
    }
.vmenu a{
    background: url('images/icon.gif') no-repeat left center;
    display: block;
    border-bottom: 1px dotted orangered;
    color: orangered;
    font-variant: small-caps;
    font-size: larger;
    text-decoration: none;
    padding: 10px 0px 10px 70px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.vmenu a:hover{
    background: url('images/background.gif') no-repeat left center;
    border-bottom: 1px dotted white;
    background-color:white;
    color:darksalmon;
    font-weight: bold;
    position:relative;
}
.col-25{
    width:25%;
    float: left;
}
.pro{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    padding:5px;
    text-align: center;
    position: relative;
}
.pro>.name{
    font-variant: small-caps;
    color:black;
    font-size: larger;
    text-align:center;
    
}
.pro>.price{
    position: absolute;
    left:5px;
    bottom: 5px;
    color:orangered;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.pro .image{
    max-width: 98%;
    height:150px;
    margin-bottom: 10px;
}
.pro>.icons>.image{
    width:25px;
}
.pro>.icons{
    position: absolute;
    right:5px;
    bottom:5px;
    width:35px;
}
.pro>.new-icon{
    position: absolute;
    top: 0px;
    right:0px;
    width:25%;
}
.container{
    position: relative;
}
.top-right{
    position: absolute;
    top: 0px;
    right: 0px;
    border-bottom-left-radius: 30px;
    background-color:salmon;
    box-shadow: 3px 3px 6px black;
    height: 40px;
    font-variant: small-caps;
    text-shadow: 0 0 10px white;
}

.top-right a{
     text-decoration: none;
     color: white;

}
.top-right>a:hover{
    color:black;
}
.company-info{
    position: relative;
    right: 5px;
    bottom: 100px;
    font-size:15px;
    color:white;
    
    text-shadow: 0px 0 15px orangered;
    font-variant: small-caps;
    height: 70px;
    padding: 50px;
    margin: 0px;
    width:350px;
    letter-spacing: 2px;
}

.menu>ul{
    padding: 0px;
    margin:0px;
    list-style: none;
    border-radius: 3px;
    background-color:salmon;
    text-align: center;
}
.menu>ul>li{ 
 display:inline-block;
 position: relative;
}
.menu>ul>li>a{
    display: block;
    text-decoration:none;
    font-variant:small-caps;
    font-size:larger;
    color:white;
    padding:0 10px;
    line-height:40px;
}
.menu>ul>li>a:hover{
    color:black;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius:3px;
    width:200px;
    background-color:white;
    box-shadow:0 0 1px gray;

}
.menu ul ul a{
    display: block;
    line-height:30px;
    color:white;
    text-decoration:none;
    font-variant:small-caps;
    font-size:larger;
    padding:0 10px;

}
.menu ul ul a:hover{
    background-color:salmon;
    color: white;
}
.menu ul ul a:active{
    background-color: salmon;
    color:black;
}
.menu>ul>li:hover>ul{
    display: block;
    background-color:darksalmon;
    color:salmon;
    z-index: 1;
}
.detail{
    width:100%;
}
.detail-image{
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    margin: 5px;
    text-align: center;
    position: relative;
    width:35%;
    float: left;
    
}
.detail-content{
    width:60%;
    float:right;    
    font-family: 'Times New Roman', Times, serif;
}
.bantin{
    width: 90%;
    margin-bottom: 0px;
}
.image img{
    width: 90%;
    clear: both;
    border-radius: 5px;
    box-shadow: 0 0 5px brown;
    margin:2px;
    padding:0px;
}
.bantin_1{
    width: 90%;
    margin-bottom:10px;
 
 }
 .congnghe{
     margin-left: 5px ;
     font-size: larger;
 
 }
 .congnghe a{
    text-decoration: none;
    font-size:medium;
    color:black;
    font-variant: small-caps;
    margin-left: 5px ;
}
.congnghe a:hover{
    color:orangered;
}
.image2 img{
    width: 20%;
    float: left;
    border-radius: 5px;
    box-shadow: 0 0 5px brown;
    margin:5px;
    padding:0px;
}
.form{
    color:salmon;
    font-size:larger;
    outline: none;
    width:98%;
 padding:5px;
 outline:none;
 border:1px solid gray;
 border-radius:3px;
 font-weight:bold;
 font-variant:small-caps;

}
.form-button{
    padding:8px 30px;
    
    
    font-weight:bold;
    
    color:orangered;
    
    margin: 10px 0px;
} 
